@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6 ;
  background-image: url("/src/Rover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  overflow: hidden;
  text-transform: uppercase;

}

.main-title{
  font-size: 2.5rem;
  font-weight: 900;
  max-width: 800px;
  color: rgb(180, 16, 16);
  letter-spacing: 3px;
  grid-column: 1/5;
}

.mars-weather{
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.insight{
  font-weight: 900;
text-transform: none;
width: 150%;
font-size: 1rem;
letter-spacing: 1px;
margin: 7rem 0 0 2rem;
}

.temp{
height: 15%;
font-size: 3rem;
}
.sol-date{
  height: 15%;
font-size: 3rem;
}

.rover-title{
  font-size: 1rem;
  font-weight: 900;
  margin-top: 0;
  place-self: end;
  grid-column: 1/-1;
}

.sol-day,.sol-day-temp{
  text-align: center;
}
.sol-day-temp p{
  font-size: 1.5rem;
}
.sol-day{
  margin-left: 2rem;
  margin-top: 15em;
  grid-column: 2/3;
}
.sol-day-temp{
  margin-left: 2rem;
  margin-top: 15em;
grid-column: 3/4;
}
.sol-day p {
  font-size: 1.5rem;
}
.date,.wind{
  text-transform: none;
}
.line-through{
 color: rgb(180, 16, 16);
 width: 12em;
 opacity: 0.6;
}
.line-through2{
  color: rgb(180, 16, 16);
  width: 22em;
  opacity: 0.6;
 }

.previous-days{
  text-transform: none;
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 900;
}
.day{
  text-align: center;
  border: 1px solid white;
  width: 120px;
  margin: 0;
  padding:0;
}
.day p{
  height: 20px;
}
.underLine{
 width: 60%;
 color: rgb(180, 16, 16);
 opacity: 0.6;
}

