@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6 ;
  background-image: url("/src/Rover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.main-title{
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  max-width: 800px;
  color: rgb(180, 16, 16);
  letter-spacing: 3px;
  grid-column: 1/5;
}

.mars-weather{
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.temp{
height: 15%;
font-size: 3rem;
}
.sol-date{
  height: 15%;
font-size: 3rem;
}

.rover-title{
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 0;
  place-self: end;
  grid-column: 1/-1;
}

.sol-day,.sol-day-temp{
  text-align: center;
}
.sol-day-temp p{
  font-size: 1.5rem;
}
.sol-day{
  margin-left: 2rem;
  margin-top: 15em;
  grid-column: 2/3;
}
.sol-day-temp{
  margin-left: 2rem;
  margin-top: 15em;
grid-column: 3/4;
}
.sol-day p {
  font-size: 1.5rem;
}

/*.day{
  display: flex;
  padding: 10px;
  border: solid brown 1px;
}
*/